#{ $dashboard } {
  display: flex;
  justify-content: space-between;

  &__col {
    border: 1px solid rgba(black, 0.1);
    width: 300px;
    border-radius: 5px;
  }

  &__subtitle {
    padding: 0 10px;
    border-bottom: 1px solid rgba(black, 0.1);

    h3 {
      margin-bottom: 0;
    }
  }

  &__list {
    padding: 10px;
  }
}
