#{ $taskForm } {    
  display: flex;
  align-items: flex-start; 

  .form-group {
    margin-right: 10px;

    label {
      display: block;
      margin: 0;
    }

    select {
      height: 38px;
      background: transparent;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      padding: 0 15px;
    }
  }

  .btn {
    margin-top: 24px;
  }
}