<div class="container">
  <div class="row">
    <div class="col-4">
      <app-dashboard-form></app-dashboard-form>
    </div>
    <div class="col-8">
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-12">
      <h3>Dashboards</h3>
      <div class="row">
        <app-dashboard
          class="col-4 mb-30"
          [dashboard]="dashboard"
          *ngFor="let dashboard of dashboards"
        ></app-dashboard>
      </div>
    </div>
  </div>
</div>


