<div class="card">
  <h5 class="card-header">{{dashboard.name}}</h5>
  <div class="card-body">
    <a routerLink="{{dashboard.id}}" class="btn btn-primary btn-sm mr-2">View</a>
    <button
      class="btn btn-danger btn-sm"
      (click)="onDelete()"
    >Delete</button>
  </div>
</div>


