<div class="container">
  <div class="dashboard__title">
    <h1>{{dashboard.name}}</h1>
  </div>
  <hr>
  <div class="dashboard__form">
    <app-task-form [dashboard]="dashboard"></app-task-form>
  </div>
  <hr>
  <div class="dashboard">
    <div class="dashboard__col">
      <div class="dashboard__subtitle">
        <h3>To Do</h3>
      </div>
      <div class="dashboard__list">
        <app-task 
          [dashboard]="dashboard"
          [task]="task"
          *ngFor="let task of taskListToDo">  
        </app-task>
      </div>
    </div>
    <div class="dashboard__col">
      <div class="dashboard__subtitle">
        <h3>In Progress</h3>
      </div>
      <div class="dashboard__list">
          <app-task 
            [dashboard]="dashboard"
            [task]="task"
            *ngFor="let task of taskListInProgress">  
          </app-task>
      </div>
    </div>
    <div class="dashboard__col">
      <div class="dashboard__subtitle">
        <h3>Done</h3>
      </div>
      <div class="dashboard__list">
          <app-task
            [dashboard]="dashboard"
            [task]="task" 
            *ngFor="let task of taskListDone">  
          </app-task>
      </div>
    </div>
  </div>
</div>
