<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{task.name}}</h5>
    <div>Сhange status</div>
    <select (change)="onChange($event)">
      <option 
        *ngFor="let status of statuses" 
        value={{status}} 
        [selected]="selectedStatus(status, task.status)"
      >
        {{status}}
      </option>
    </select>
  </div>
</div>