<div class="container-fluid">
  <header class="pb-4">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboards">Dashboards</a>
      </li>
    </ul>
  </header>
  <router-outlet></router-outlet>
  <footer></footer>
</div>

