<h3>Create dashboard</h3>
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="name"
    placeholder="Name"
    [(ngModel)]="name"
  >
</div>
<button
  class="btn btn-primary btn-sm"
  (click)="onAdd()"
>Add</button>
