<div class="taskForm">  
  <div class="form-group">
    <label for="taskName">Task Name</label>
    <input type="text" class="form-control" id="taskName" [(ngModel)]="taskName">
  </div>
  <div class="form-group">
    <label>Task Status</label>
    <select [(ngModel)]="taskStatus">
      <option *ngFor="let status of statuses" value={{status}}>{{status}}</option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="onAddTask()">Add task</button>
</div>